/* importar en el app */


/* box-shadow: #000 0px 4px 10px; */

.container-datepick {
    border: 1px solid blue;
    border-radius: 5px;
    width: 50rem;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* card-datepick */

.datepick {
    position: relative;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);
}

.calender-container {
    background: linear-gradient(166.45deg, rgba(0, 143, 231, 1) 0%, rgba(0, 183, 63, 1) 100%);
    height: 100%;
    width: 33%;
    position: absolute;
    left: 0px;
    z-index: 2;
    padding: 1em;
}

.calender-container h1 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.calender-container .img-container {
    width: 5em;
    height: 5em;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    box-shadow: rgb(131, 131, 131) 0px 4px 8px;
}

.calender-container .img-container img {
    margin: auto;
    width: 100%;
    border-radius: 50%;
}

.calender-container article h5 {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.calender-container article p {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.2rem;
}


/* date-disponible */

.date-disponible {
    margin: 1em 0 0 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-disponible .date-disponible__title,
.date-disponible__sidebar {
    text-align: center
}

.date-disponible .date-disponible__title p {
    color: #40A9FF;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #00B73F;
    width: 180px;
    padding: 0 0 .5rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-disponible .date-disponible__title p span {
    margin-left: 1rem;
}


/* pagination de horario */

.pagination-date {
    margin-top: 1rem;
}


/* button */

.date-disponible .button {
    margin-top: 1rem;
    background: #00B73F;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: .8rem 3rem;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);
}